* {
    margin: 0;
    padding: 0;
    font-family: arial,sans-serif;
}

body {
    background-color: #202124;
    color: #fff;
}

.header {
    padding: 20px 40px;
}

.header ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 13px;
    font-size: 18px;
    list-style: none;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
}

main h1 {
    font-size: 110px;
    font-weight: 400;
}

.container-search {
    margin: 20px 0;
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: white;
    border-radius: 20px;
    padding: 5px 20px;
}

.container-search input {
    background-color: transparent;
    border: none;
    width: 480px;
    font-size: 20px;
}

.btn ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.btn li {
    margin: 20px 0;
    background-color: #303134;
    padding: 10px 20px;
}

.btn a {
    color: #fff;
}

footer {
    padding: 15px 0;
    color: #9aa0a6;
    font-size: 14px;
    background-color: rgb(17, 17, 17);
}

footer p, footer nav {
    padding: 20px 40px;
}

footer nav {
    display: flex;
    justify-content: space-between;
}

footer ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

@media screen and (max-width: 768px){
    main h1 {
        font-size: 80px;
    }

    .container-search input {
        width: 250px;
    }

    footer nav {
        flex-direction: column;
        gap: 20px;
        justify-content: space-between;
    }
}

@media screen and (max-width: 425px){
    main h1 {
        font-size: 60px;
    }

    .container-search input {
        width: 150px;
    }

    .btn ul {
        list-style: none;
        display: flex;
        gap: 10px;
    }
    
    .btn li {
        margin: 20px 0;
        background-color: #303134;
        padding: 10px 10px;
    }
    
    .btn a {
        color: #fff;
        font-size: 14px;
    }

    footer ul {
        display: flex;
        list-style: none;
        gap: 10px;
        font-size: 12px;
    }
}